<section class="himage" ng-controller="homeCtrl">
  <!-- <jake-no-nav></jake-no-nav> -->
  <div class="home-box">
      <div class="home-title">
          <p><span ui-sref="quote">Quotes </span><i id="arrow" class="fa fa-location-arrow fa-spin" aria-hidden="true"></i><span ui-sref="movie"> Movies</span></p>
      </div>
      <div class="welcome-mess">
        <p>Changing Daily</p><span> </span>
        <p>Search Any Title</p>
      </div>
      <div ui-sref="quote" class="daily">
          <p>
                Quotes
          </p>
      </div>
      <div ui-sref="movie" class="daily">
          <p>
                Movies
          </p>
      </div>
  </div>

</section>
